target/
.git/
.gitignore
.gitattributes
HELP.md

node_modules/

Dockerfile
docker-compose.yml

README.md

qrcodes/
uploads/

.env
.env.*

*.log
logs/

.vscode/
.idea/

*.iml
*.swp
.DS_Store
*.temp
*.class

.mvn
mvnw
mvnw.cmd